# Ignore ANY node_modules folder anywhere
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build outputs (React, Vite, Node)
dist/
build/

# IDE settings
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db
